:root {
  --song-area-height: 238px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: sans-serif;
  font-size: 18px;
}
a {
  color: inherit;
}
button {
  padding: 1em;
  border: 1px solid black;
  background: white;
  color: black;
  text-align: center;
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 100%;
  height: 2em;
  background-color: white;
  border: 1px solid black;
  cursor: col-resize;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
  width: 10px;
  height: 2em;
}
input[type="range"]::-moz-range-thumb {
  background-color: black;
  width: 10px;
  height: 2em;
  border-radius: 0;
  border: 0;
}
input[type=range]::-moz-range-track {
  display: none;
  background-color: white;
}

body > header {
  visibility: hidden; /*TODO*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
}
.user-dropdown {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5em;
  float: right;
}
.user-dropdown > .fa-caret-down {
  display: inline-block;

  margin-left: 0.5em;
}

.song-area {
  width: 388px;
  height: var(--song-area-height);
  margin: 0 auto;
  margin-top: calc(100vh / 2 - var(--song-area-height) / 2);
}
.song-card {
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1em;
  background: black;
  color: white;
}

.controls {
  text-align: center;
  margin-top: 1em;
}
.controls > button {
  font-size: 1em;
  width: 59px;
  height: 59px;
}
.controls > button + button {
  margin-left: 1em;
}
.add-button,
.fave-button {
  background: black;
  color: white;
}

body > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background: black;
  text-align: center;
  color: white;
}
