* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: 1px solid #4D90FE;
}
h1,
h2,
h3 {
  line-height: 2;
  font-family: 'Josefin Sans';
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
p + h1,
p + h2,
p + h3 {
  margin-top: 2rem;
}
p + button,
p + p {
  margin-top: 1rem;
}
p {
  font-size: 1.25rem;
  line-height: 2;
}
p a {
  font-weight: bold;
}
p a:hover {
  text-decoration: underline;
}
form input.input-error,
form input.input-error:hover,
form input.input-error:focus {
  border-color: red !important;
}
form button,
form input[type="submit"],
form input[type="email"],
form input[type="text"],
form input[type="password"] {
  display: block;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
}
form input[type="email"],
form input[type="text"],
form input[type="password"] {
  padding: 0.5rem;
  border: 3px solid #eee;
  background: #eee;
  padding: 0.5rem;
}
form input[type="email"]:hover,
form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="email"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: black;
}
form button {
  padding: 0.7645rem 0.5rem;
  border: 0;
  background: black;
  color: white;
  height: auto;
  cursor: pointer;
}
input + input,
input + button {
  margin-top: 1.5rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  overflow: hidden;
  border-radius: 8px;
  border-top: 2px solid #eee;
  cursor: pointer;
}
table tr:first-child {
  border-top: 0;
}
table tr:hover td {
  background: #eee;
  border-color: transparent;
}
table tr:hover td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
table tr:hover td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
table tr:hover,
table tr:hover + tr,
table tr.selected-row,
table tr.selected-row + tr {
  border-color: transparent;
}
table tr.selected-row td {
  background: black;
  border-color: transparent;
  color: white;
}
table tr.selected-row td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
table tr.selected-row td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
table td {
  padding: 0.5rem;
  overflow: hidden;
}
table td .material-icons {
  float: right;
  width: 26px;
}
table td .material-icons:active,
table td .material-icons:focus {
  outline: 1px solid #4D90FE;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.layout-song {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.layout-song::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../images/static.gif');
  background-repeat: repeat;
  background-size: 200px;
  z-index: -1;
  content: ' ';
}
.layout-song--loading-gif .giphy-attribution {
  opacity: 0;
}
.layout-page {
  position: absolute;
  top: calc(1rem + 58px);
  right: 1rem;
  left: 1rem;
  padding-bottom: calc(98px + 2rem);
}
.giphy-attribution {
  display: none;
  opacity: 1.0;
  position: absolute;
  right: 0;
  bottom: 6px;
  left: 0;
  text-align: center;
  transition: all 0.1s ease-in-out;
  image-rendering: auto;
}
.giphy-attribution > a {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.giphy-attribution > a:hover {
  opacity: 1.0;
}
.app--index .giphy-attribution {
  display: block;
}

@media (min-width: 1000px) {
  .layout-page {
    top: 2rem;
    left: 2rem;
    width: calc(100vw - 400px - 6rem);
    min-height: calc(100vh - 4rem);
    margin-bottom: 2rem;
    padding-bottom: unset;
  }
}
