.song-credits {
  opacity: 0;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  font-family: 'Josefin Sans';
  font-weight: bold;
}
.song-credits h1,
.song-credits h2,
.song-credits h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}
.song-credits--visible {
  opacity: 1.0;
}
