.navigation-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  margin: -1rem;
  padding: 1rem;
  color: white;
  border: 0;
  background: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.navigation-button:focus,
.navigation-button:hover {
  opacity: 1.0;
}
.navigation-button--inverted {
  color: black;
  opacity: 1.0;
  transition: none;
}
