.navigation-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  margin: -1rem;
  padding: 1rem;
  color: white;
  border: 0;
  background: 0;
  cursor: pointer;
}
.navigation-button--inverted {
  color: black;
}
